* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: 100;
}

header{
  background-color: #30dce6 ;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 10px;
  height: 155px;
}

.chatbox {
  width: 100%;
  height: 350px;
  padding-top: 10px;
  background-image: url("Images/wallpaper2.jpeg");
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 25px;
}


.bot_msg{
  background: #3069b0;
  padding: 10px;
  border-radius: 15px 15px 15px 0px;
  display: inline-block;
  margin-left: 30px;
  color: white;
  width: 30%;
  text-align: left;
  margin-top: 40px;
  
}

.bot_msg::before{
  background-image: url("Images/bot.jpeg");
  
}


.user_msg{
  background: #d439ff;
  padding: 10px;
  border-radius: 15px 15px 0px 15px;
  display: inline-block;
  margin-left: 70%;
  color: white;
  width: 20%;
  text-align: left;
  margin-top: 40px;
}

.bot_img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    
}

footer{
  background-color: #30dce6;
    width: 100%;
    height: 70px;
    border-radius: 25px;
    margin-top: 10px;
}

.inputdiv{
  text-align: center;
  padding-top: 20px;
}
#inputbox{
  width: 35%; 
  border-radius: 10px;
  height: 33px;
}

